<img src="{{user.profileImg}}" alt="profile image">

{{user.name}}
{{user.age}}
{{user.campus}}
{{user.interests}}
{{user.aboutMe}}


<section>
    {{#each user.photos}}
    <div>
        <img src="{{this.imgUrl}}" alt="photo">
    </div>
    {{/each}}
</section>

<nav>
    <ul>
        <li>
            <a href="/swipe/show/{{sessionId}}"> Go back</a>
        </li>
    </ul>
</nav>