<img src="{{user.profileImg}}" alt="profile image">

{{user.name}}
{{user.age}}
{{user.campus}}
{{user.interests}}
{{user.aboutMe}}


<section>
    {{#each user.photos}}
    <div>
        <img src="{{this.imgUrl}}" alt="photo">
    </div>
    {{/each}}
</section>

<footer>
  <nav class="navbar fixed-bottom spacing">
    <ul class="navbar-list">
      <li>
        <a class="navbar-btn" href="/swipe/show/{{sessionId}}"> <img src="/images/grey-tinder-logo.ico" alt="swipe icon"> </a>
      </li>
      <li>
        <a class="navbar-btn" href="/profile/{{sessionId}} "> <img src="/images/colored-profile-logo.png" alt="profile icon"> </a>
      </li>
      <li>
        <a class="navbar-btn" href="/matches/{{sessionId}}"> <img src="/images/grey-matches-logo.ico" alt="matches icon"> </a>
      </li>
    </ul>
  </nav>
</footer>