<img src="{{user.profileImg}}" alt="profile image">

{{user.name}}
{{user.age}}
{{user.campus}}
{{user.interests}}
{{user.aboutMe}}


<section>
    {{#each user.photos}}
    <div>
        <img src="{{this.imgUrl}}" alt="photo">
    </div>
    {{/each}}
</section>

<footer>
    <nav>
      <ul>
        <li>
              <a href="/swipe/show/{{sessionId}}"> Swipe </a>
        </li>
        <li>
              <a href="/profile/{{sessionId}} ">Profile</a>
        </li>
        <li>
               <a href="/matches/{{sessionId}}"> Matches </a>
        </li>
      </ul>
    </nav>
</footer>