<div id="ownProfile-view" class="ownProfile-view">
  <header class="app-logo-container">
    <img class="app-logo" src="/images/gradient.png" alt="">
    <hr class="logo-underline">
  </header>
  <img class="rounded-circle profileImg" src="{{user.profileImg}}" alt="profile image">

  <form action="/profile/{{user._id}}/edit-imgProfile" method="POST" enctype="multipart/form-data">
    <label for="profileImg">
      <img class="rounded-circle edit-profileImg-btn" src="/images/edit-profile-img.ico" alt="change profile image">
    </label>
    <input class="hidden" id="profileImg" type="file" name="profileImg" onchange="this.form.submit()">
  </form>

  <section class="info-container">
    <h2 class="profile-title">{{user.name}}, {{user.age}}</h2>
    <p>{{user.campus}}</p>
    <article class="interest-container">
      {{#each user.interests}}
      <div class="interest">{{this}}</div>
      {{/each}}
    </article>
    <p>{{user.aboutMe}}</p>
  </section>

  <a href="#ownProfile-view"><img class="rounded-circle edit-profileInfo-btn" src="/images/edit-profile-info.png" alt="change profile info" onclick="document.getElementById('edit-profileInfo-section').classList.toggle('hidden')"></a>

  <section id="edit-profileInfo-section" class="hidden card">
      <form class="editForm" action="/profile/{{user._id}}/edit-infoProfile" method="POST">

        <div class="editFormContainer">
          <label for="name">Name:</label>
          <input class="profileInput" type="text" name="name" value="{{user.name}}">
        </div>

        <div class="editFormContainer">
          <label for="interests">Interests:</label>
          <select class="edit-interests-box" name="interests" multiple>
              <option value="Food" {{#if (includes "Food" user.interests)}} selected="selected" {{/if}}>Food</option>
              <option value="Dance" {{#if (includes "Dance" user.interests)}} selected="selected" {{/if}}>Dance</option>
              <option value="Travel" {{#if (includes "Travel" user.interests)}} selected="selected" {{/if}}>Travel</option>
              <option value="Go for a drink" {{#if (includes "Go for a drink" user.interests)}} selected="selected" {{/if}}>Go for a drink</option>
              <option value="Warm Tv" {{#if (includes "Warm Tv" user.interests)}} selected="selected" {{/if}}>Warm Tv</option>
              <option value="Music" {{#if (includes "Music" user.interests)}} selected="selected" {{/if}}>Music</option>
              <option value="Sports" {{#if (includes "Sports" user.interests)}} selected="selected" {{/if}}>Sports</option>
              <option value="Reading" {{#if (includes "Reading" user.interests)}} selected="selected" {{/if}}>Reading</option>
              <option value="Trekking" {{#if (includes "Trekking" user.interests)}} selected="selected" {{/if}}>Trekking</option>
              <option value="Design" {{#if (includes "Design" user.interests)}} selected="selected" {{/if}}>Design</option>
              <option value="Coding" {{#if (includes "Coding" user.interests)}} selected="selected" {{/if}}>Coding</option>
              <option value="Cooking" {{#if (includes "Cooking" user.interests)}} selected="selected" {{/if}}>Cooking</option>
              <option value="Shopping" {{#if (includes "Shopping" user.interests)}} selected="selected" {{/if}}>Shopping</option>
              <option value="Museums" {{#if (includes "Museums" user.interests)}} selected="selected" {{/if}}>Museums</option>
              <option value="Photography" {{#if (includes "Photography" user.interests)}} selected="selected" {{/if}}>Photography</option>
              <option value="Tattoos" {{#if (includes "Tattoos" user.interests)}} selected="selected" {{/if}}>Tattoos</option>
              <option value="Biking" {{#if (includes "Biking" user.interests)}} selected="selected" {{/if}}>Biking</option>
              <option value="Handmaking" {{#if (includes "Handmaking" user.interests)}} selected="selected" {{/if}}>Handmaking</option>
          </select>
        </div>

        <div class="editFormContainer">
          <label for="aboutMe">aboutMe:</label>
          <textarea class="edit-aboutMe-box" name="aboutMe" >{{user.aboutMe}}</textarea>
        </div>

        <button class="editProfile-save-btn" type="submit">Save</button>

      </form>

      <img class="rounded-circle closeEdit-btn" src="/images/close-window.ico" alt="close window" onclick="document.getElementById('edit-profileInfo-section').classList.toggle('hidden')">
  </section>

  <h1 class="title">Photos:</h1>
  <section class="photos-container">
      {{#each user.photos}}
      <div class="onePhoto-container card">
        <img class="card-img-top" src="{{this.imgUrl}}" alt="photo">

        <form id="deleteForm-{{this._id}}" class="card-img-overlay flex-end" action="/profile/{{../user._id}}/delete-photo/{{this._id}}"method="POST">
            <img class="rounded-circle edit-profileInfo-btn" src="/images/delete.ico" alt="delete photo" onclick="document.getElementById('deleteForm-{{this._id}}').submit()">
        </form>
      </div>
      {{/each}}
  </section>

  <form action="/profile/{{user._id}}/add-newPhoto" method="POST" enctype="multipart/form-data">
    <label for="imgUrl">
      <img class="addPhoto-btn" src="/images/plus.ico" alt="add new photo">
    </label>
    <input class="hidden" id="imgUrl" type="file" name="imgUrl" onchange="this.form.submit()">
  </form>

  <a href="/logout"><img class="rounded-circle logout-btn" src="/images/logout.ico" alt="logout"></a>


  <nav class="navbar fixed-bottom spacing">
    <ul class="navbar-list">
      <li> 
        <a class="navbar-btn-match" href="/swipe/show/{{user._id}}"> <img src="/images/grey-tinder-logo.ico" alt="swipe icon"> </a>
      </li>
      <li>
        <a class="navbar-btn" href="/profile/{{user._id}} "> <img src="/images/colored-profile-logo.png" alt="profile icon"> </a>
      </li>
      <li>
        <a class="navbar-btn" href="/matches/{{user._id}}"> <img src="/images/grey-matches-logo.ico" alt="matches icon"> </a>
      </li>
    </ul>
  </nav>
</div>