<img src="{{user.profileImg}}" alt="profile image">

<form action="/profile/{{user._id}}/edit-imgProfile" method="POST" enctype="multipart/form-data">
    <input type="file" name="profileImg">
    <button type="submit">Change image profile</button>
</form>

{{user.name}}
{{user.age}}
{{user.campus}}
{{user.interests}}
{{user.aboutMe}}

<button type="button">Edit info</button>

<section class="hidden">
    <form action="/profile/{{user._id}}/edit-infoProfile" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" value="{{user.name}}">

    <fieldset>
        <legend>Interests:</legend>
        <select name="interests" multiple>
            <option value="Food" {{includes "Food" user.interests }}>Food</option>
            <option value="Music" {{includes "Music" user.interests }}>Music</option>
            <option value="Coding" {{includes "Coding" user.interests }}>Coding</option>
            <option value="Dance" {{includes "Dance" user.interests }}>Dance</option>
        </select>
    </fieldset>

    <label for="aboutMe">aboutMe:</label>
    <textarea name="aboutMe" >{{user.aboutMe}}</textarea>

    <button type="submit">Save</button>

    </form>

    <button type="button">Close</button>
</section>

<section>
    {{#each user.photos}}
    <div>
        <img src="{{this.imgUrl}}" alt="photo">
        <form action="/profile/{{../user._id}}/delete-photo/{{this._id}}" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</section>

<form action="/profile/{{user._id}}/add-newPhoto" method="POST" enctype="multipart/form-data">
    <input type="file" name="imgUrl">
    <button type="submit">Add new photo</button>
</form>

<a href="/logout">Logout</a>

{{> navbar}}
