<section>
    {{#each user.matches}}
        {{#if (equals firstUser._id ../user._id) }}
        <div>
            <a href="/profile/{{firstUser._id}}"><img src="{{firstUser.profileImg}}" alt="{{firstUser.name}}"></a> 
            <p>{{firstUser.name}}</p>
        </div>
        {{/if}}

        {{#if (equals secondUser._id ../user._id) }}
        <div>
            <a href="/profile/{{secondUser._id}}"><img src="{{secondUser.profileImg}}" alt="{{secondUser.name}}"></a> 
            <p>{{secondUser.name}}</p>
        </div>
        {{/if}}
    {{/each}}
</section>

<footer>
  <nav>
    <ul>
      <li>
        <a class="navbar-btn" href="/swipe/show/{{user._id}}"> <img src="/images/grey-tinder-logo.ico" alt="swipe icon"> </a>
      </li>
      <li>
        <a class="navbar-btn" href="/profile/{{user._id}} "> <img src="/images/grey-profile-logo.ico" alt="profile icon"> </a>
      </li>
      <li>
        <a class="navbar-btn" href="/matches/{{user._id}}"> <img src="/images/colored-matches-logo.png" alt="matches icon"> </a>
      </li>
    </ul>
  </nav>
</footer>