<div class="swipe-container">
    <section class="card">
        <div class="card-body">
           
            <a href="/profile/{{randomUser._id}}">
            <img src="{{randomUser.profileImg}}" alt="" class="card-img-top">
            </a>

            <h2>{{randomUser.username}}, {{randomUser.age}}</h2>
            <h3>{{randomUser.campus}}</h3>

            <form action="/swipe/dislike/{{randomUser._id}}/{{activeUser_id}}" method="POST">
            <button type="submit">X</button>
            </form>


            <button type="button">Filter</button>


            <form action="/swipe/like/{{randomUser._id}}/{{activeUser_id}}" method="POST">
            <button type="submit">✔</button>
            </form>

        </div>
    </section>
</div>





<div class="filter-form hidden">
    <button type="button">X</button>
    <h1>Filter by campus</h1>
    <form action="/swipe/filter/{{activeUser._id}}" method="POST">
    <select name="campus" value="none">
        <option  value="Barcelona">Barcelona</option>
        <option  value="Amsterdam">Amsterdam</option>
        <option  value="Madrid">Madrid</option>
        <option  value="Miami">Miami</option>
        <option  value="Berlin">Berlin</option>
        <option  value="Paris">Paris</option>
        <option  value="All">All</option>
        
    </select>

    <button type="submit">Filter</button>
    </form>
</div>

