<script>

  const dislike = () => {

    const userId = "{{user._id}}"
    const activeCard = document.querySelector(".active-card");
    const activeUserId = activeCard.id;
    
    const randomArray = {{{ json shuffledArray }}}
    const randomIdArray = randomArray.map(user => user._id)
  
    const activeUserIndex = randomIdArray.indexOf(activeUserId)
   const nextUserId = randomIdArray[activeUserIndex + 1]
    const nextCard = document.getElementById(nextUserId)

   axios.post(`/swipe/dislike/${userId}/${activeUserId}`)
    .then(() => {
      //activeCard.classList.toggle("slide-card-left")

      nextCard.classList.toggle("active-card")
      activeCard.classList.toggle("active-card")

      nextCard.classList.toggle("hidden")
      activeCard.classList.toggle("hidden")


      /*setTimeout(()=>{
        
      },1000)
      })*/

    })
  }

  const like = () => {
    const userId = "{{user._id}}"
    const activeCard = document.querySelector(".active-card");
    const activeUserId = activeCard.id;
    const randomArray = {{{ json shuffledArray }}}
    const randomIdArray = randomArray.map(user => user._id)
    const activeUserIndex = randomIdArray.indexOf(activeUserId)
    const nextUserId = randomIdArray[activeUserIndex + 1]
    const nextCard = document.getElementById(nextUserId)

    axios.post(`/swipe/like/${userId}/${activeUserId}`)
    .then(() => {
      nextCard.classList.toggle("active-card")
      activeCard.classList.toggle("active-card")

      nextCard.classList.toggle("hidden")
      activeCard.classList.toggle("hidden")



    })

    /*activeCard.classList.toggle("slide-card-right")


    setTimeout(()=>{
      
    },1000)*/
  }

  const clickedYes = () => {
    document.querySelector(".yes-btn").classList.toggle("clicked-yes")
  }

  const clickedNo = () => {
    document.querySelector(".no-btn").classList.toggle("clicked-no")
  }
</script>






<div class="swipe-container">

  <section class="card outter-card">

    <div id="{{firstRandom._id}}" class="card inner-card active-card">

      <a href="/profile/{{firstRandom._id}}" class="img-link">
        <img src="{{firstRandom.profileImg}}" alt="" class="card-img-top">
        <div class="card-img-overlay">
          <h2 class="name-age">{{firstRandom.username}}, {{firstRandom.age}}</h2>
          <h5 class="campus">{{firstRandom.campus}}</h5>
        </div>
      </a>
    </div>

    {{#each shuffledArray}}
    <div id="{{_id}}" class="card inner-card hidden">

      <a href="/profile/{{_id}}" class="img-link">
        <img src="{{profileImg}}" alt="" class="card-img-top">
        <div class="card-img-overlay">
          <h2 class="name-age">{{username}}, {{age}}</h2>
          <h5 class="campus">{{campus}}</h5>
        </div>
      </a>
    </div>
    {{/each}}

    <div class="inline-buttons card-footer">
      <!--form action="/swipe/dislike/{{user._id}}/{{shuffledArray.[0]._id}}" method="POST"-->
      <button type="submit" class="btn no-btn" onclick="dislike()"><i class="fa fa-times"
          style="font-size:30px"></i></button>
      <!--/form-->
      <button type="button" class="btn filter-btn"><i class="fa fa-filter" style="font-size:24px"></i></button>

      <!--form action="/swipe/like/{{user._id}}/{{shuffledArray.[0]._id}}" method="POST"-->
      <button type="submit" class="btn yes-btn" onclick="like()"><i class="fa fa-heart"
          style="font-size:30px"></i></button>
      <!--/form-->
    </div>
  </section>
</div>


<div class="filter-form hidden">
  <button type="button">X</button>
  <h1>Filter by campus</h1>
  <form action="/swipe/filter/{{user._id}}" method="POST">
    <select name="campus">
      <option value="Barcelona" {{#if (isEqual "Barcelona" inputFilter)}} selected="selected" {{/if}}>Barcelona</option>
      <option value="Amsterdam" {{#if (isEqual "Amsterdam" inputFilter)}} selected="selected" {{/if}}>Amsterdam</option>
      <option value="Madrid" {{#if (isEqual "Madrid" inputFilter)}} selected="selected" {{/if}}>Madrid</option>
      <option value="Miami" {{#if (isEqual "Miami" inputFilter)}} selected="selected" {{/if}}>Miami</option>
      <option value="Berlin" {{#if (isEqual "Berlin" inputFilter)}} selected="selected" {{/if}}>Berlin</option>
      <option value="Paris" {{#if (isEqual "Paris" inputFilter)}} selected="selected" {{/if}}>Paris</option>
      <option value="All" {{#if (isEqual "All" inputFilter)}} selected="selected" {{/if}}>All</option>
    </select>

    <button type="submit">Filter</button>
  </form>
</div>


<nav class="navbar fixed-bottom spacing">
  <ul class="navbar-list">
    <li>
      {{#if inSwipe}}
      <a class="navbar-btn"> <img class="swipe-btn" src="/images/colored-tinder-logo.png" alt="swipe icon"> </a>
      {{else}}
      <a class="navbar-btn" href="/swipe/show/{{user._id}}"> <img src="/images/colored-tinder-logo.png"
          alt="swipe icon"> </a>
      {{/if}}
    </li>
    <li>
      <a class="navbar-btn" href="/profile/{{user._id}} "> <img src="/images/grey-profile-logo.ico" alt="profile icon">
      </a>
    </li>
    <li>
      <a class="navbar-btn" href="/matches/{{user._id}}"> <img src="/images/grey-matches-logo.ico" alt="matches icon">
      </a>
    </li>
  </ul>
</nav>

